<div id="map-container">
    <div id="map">
        <!-- map goes here -->
    </div>

    <!-- Map Navigation -->
  <a href="#" id="scrollEnabling" title="Enable or disable scrolling on map">Enable Scrolling</a>
  <ul id="mapnav-buttons">
      <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
      <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
  </ul>
</div>

<!-- Maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['maps_api']%>&language=en"></script>
<script type="text/javascript" src="/scripts/infobox.min.js"></script>
<script type="text/javascript" src="/scripts/markerclusterer.js"></script>
<script type="text/javascript" src="/scripts/maps.js"></script>