Add a new avocado
<br>
<%= form_tag "/avocados", method: :post do %>
  <div>
    Type: <select name="category">
     <option type="integer" value="Tiny Hass">Tiny Hass</option>
     <option type="integer" value="Small Hass" selected="selected">Small Hass (most common)</option>
     <option type="integer" value="Medium Hass">Medium Hass</option>
     <option type="integer" value="Large Hass">Large Hass</option>
     <option type="integer" value="Jumbo Hass">Jumbo Hass</option>
     <option type="integer" value="Other Kind">Other Kind</option>
    </select>
  </div>
  <div>
  Organic:
    <input type="radio" id="organic_yes"
     name="organic" value=true>
    <label for="organic_yes">Yes</label>
    <input type="radio" id="organic_no"
     name="organic" value=false checked>
    <label for="organic_no">No</label>
  </div>
  <div>
    Price: $<input type="number" name="price" min="0.00" max="6.00" step="0.01">/ each
  </div>
  <div>
    Ripeness: <input type="number" min="1" max="10" name="ripeness">(1 firm, 10 overripe)
  </div>
  <div>
    Description:<br><textarea name="notes" cols="40" rows="5"></textarea>
  </div>
  <div>
  </div>
  <input type="submit" value="Add Avo">
 <%end%> 