<div class="container">
  <div class="row">
  
    <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65">Add a new Avo</h3>
    </div>
<%= form_tag "/avocados", method: :post do %>
  <div>
    Type: <select name="category">
     <option type="integer" value="Tiny Hass">Tiny Hass</option>
     <option type="integer" value="Small Hass" selected="selected">Small Hass (most common)</option>
     <option type="integer" value="Medium Hass">Medium Hass</option>
     <option type="integer" value="Large Hass">Large Hass</option>
     <option type="integer" value="Jumbo Hass">Jumbo Hass</option>
     <option type="integer" value="Other Kind">Other Kind</option>
    </select>
  </div>
  <div>
  Organic:
    <input type="radio" id="organic_yes"
     name="organic" value=true>
    <label for="organic_yes">Yes</label>
    <input type="radio" id="organic_no"
     name="organic" value=false checked>
    <label for="organic_no">No</label>
  </div>
  <div>
    Price: $<input type="number" name="price" min="0.00" max="6.00" step="0.01">/ each
  </div>
  <div>
    Ripeness: <input type="number" min="1" max="10" name="ripeness">(1 firm, 10 overripe)
  </div>
  <div>
    Description:<br><textarea name="notes" cols="40" rows="5"></textarea>
  </div>
  <div>
  Can be found at: <br>
      <div>
  <select name="location_id">
    <option selected="selected"></option>
    <% @locations.each do |location|%>
     <option type="integer" value="<%=location.id%>"><%=location.name%> <%=location.address%></option>
    <%end%> 
    </select>
  </div>
    Business Name: <input name="name"><br>
    Business Address: <input name="address"><br>
    Business Latitude: <input name="lat"><br>
    Business Longitude: <input name="lng"><br>

  </div>
  <input type="submit" value="Add Avo">
 <%end%> 
</div></div>