<div class="container">
  <div class="row">
      <div class="col-md-12"><br><br>
    </div>
    <div>
Search <br>

<%= @xml_doc %>

<button id="mybutton">Click this</button>
<script type="text/javascript">


</script>

<br>
<br>
</div>
</div>
</div>