<section class="fullwidth margin-top-0 margin-bottom-0">
<div class="container">
  <div class="row">
      <div class="col-md-12">
      <h3 class="headline centered margin-bottom-35 margin-top-0">Please Register</h3>
    </div>
<table class="add-form" align="center" border=0><tr><td>
<%= form_tag '/users', method: :post do  %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <div>
    Confirm Password: <input type="password" name="password_confirmation">
  </div>
  <input type="submit" value="Submit">
<% end %>
  Or <a href="/login">Click Here</a> if you already have a login
</td></tr></table>
  </div>
</div>
</section>
