input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00BA75;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

table.add-form {
    width: 800px;
    border-collapse: separate;
    border-spacing: 10px;
    background-color: white;
}

.post-img {
    text-align: center;
    width: 100%;
    padding-top: 30px;

    img {
        width: 180px;
    }
}