<!DOCTYPE html>
<html>
  <head>
    <title>AvocadoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<a href='/'>Home</a> | <a href='/avocados/new'>Add an avo</a> | Sign In
<hr>
<br>


    <%= yield %>
  </body>
</html>
